footer {
    display: block;
    background: black;
    color: white;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

footer p {
    font-weight: normal;
}

@media (min-width: 501px) {
    footer a {
        padding: 10px;
    }
    
    footer p {
        padding: 10px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    footer a {
        padding: 5px;
    }
    
    footer p {
        padding: 5px;
        font-size: 10px;
    }
}